<ion-card
  #outerCard
  [style.min-height.px]="outerCardMinHeight"
>
  <ion-card-content>

    <ion-segment
      (ionChange)="segmentChanged($event)"
      [value]="numOfItems"
    >
      <ion-segment-button value="15">
        <ion-label>15</ion-label>
      </ion-segment-button>
      <ion-segment-button value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button value="20">
        <ion-label>20</ion-label>
      </ion-segment-button>
    </ion-segment>
    
    numOfItems: {{numOfItems}}

    <div class="item" *ngFor="let i of [].constructor(+numOfItems)">
      item
    </div>

  </ion-card-content>
</ion-card>
