<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card
    *ngFor="let card of [].constructor(10)"
    (click)="clickedACard()"
  >
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatibus fugit sit nemo ullam aperiam atque illo voluptates adipisci distinctio quas, optio harum eum ea illum natus dolore neque repudiandae.
    </ion-card-content>
  </ion-card>

  <app-segments-that-change-height></app-segments-that-change-height>
</ion-content>
